FRP_MANAGER_HOST=0.0.0.0
FRP_MANAGER_PORT=5000
FLASK_DEBUG=0
FRP_SESSION_SECURE=0
FRP_MANAGER_SECRET_KEY=replace_with_a_random_secret
FRP_SETUP_TOKEN=
FRP_TRUST_PROXY=0
FRP_SESSION_LIFETIME_HOURS=12
FRP_LOGIN_RATE_LIMIT=10
FRP_LOGIN_RATE_WINDOW_SEC=300
FRP_SETUP_RATE_LIMIT=10
FRP_SETUP_RATE_WINDOW_SEC=300
FRP_DEPLOY_RATE_LIMIT=30
FRP_DEPLOY_RATE_WINDOW_SEC=60
FRP_AGENT_PULL_RATE_LIMIT=120
FRP_AGENT_PULL_RATE_WINDOW_SEC=60
FRP_STATUS_TIMEOUT=0.8
FRP_STATUS_CACHE_TTL=30
FRP_STATUS_WORKERS=8
FRP_REPORT_ONLINE_TTL=90
FRP_MANAGER_PUBLIC_URL=
